body {
    background-color: rgb(46, 39, 39);
}

.contenedor_links {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: rgb(195, 214, 87);
}

h1 {
    text-align: center;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(252, 252, 252);
}

p {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor_botones {
    background-color: rgb(179, 255, 0);
    padding: 12px;
    text-align: center;    
    gap: 89px;
    justify-content: centers;
}

.btn {
    font-size: 18px;
    color: rgb(0, 0, 0);       /*Color letra del boton*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    cursor: pointer;
    border-style: double;
}

.contenedor_imagen_1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 260px;
}

.imagen_1 {
    height: 200px;
    width: 200px;    
}

#contact {
    padding: 20px;
}

form {
    display: flex;
    flex-direction:column;
}

form label {
    margin-bottom: 9px;
}

form input, form textarea {
    margin-bottom: 8px;
    padding: 8px;
    font-size: 12px;
}

form input [type="submit"] {
    background-color:black;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}


